<h1>Usuarios Registrados</h1>
<div class=clear ></div>
<table class="table" >
  <thead>
    <tr>
      <th >Primer Nombre</th>
      <th >Segundo Nombre</th>
      <th >Primer Apellido</th>
      <th >Segundo Apellido</th>
      <th >Telefono</th>
      <th >Direccion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
       <td>{{item.firstName}}</td>
      <td>{{item.secondName}}</td>
      <td>@{{item.firstSurname}}</td>
      <td>{{item.secondSurname}}</td>
      <td>@{{item.phone}}</td>
      <td>@{{item.address}}</td>
    </tr>
    
  </tbody>
</table>
